@model demo.Entities.Models.Skill

<div class="cms">
    <!-- Navbar -->
    <partial name="_AdminNavbar" />

    <!-- Sidebar -->
    <partial name="_AdminSidebar" />

    <div class="cms-content">
        <p class="heading"><span>Edit Skill Page</span></p>

        <form method="post" asp-action="AddSkill" asp-controller="Skill" class="user-admin">
            <label>Skill Name</label>
            <input asp-for="@Model.SkillName" type="text" class="form-control m-0">
            <input type="hidden" asp-for="@Model.Id" />

            <label>Status</label>
            @Html.DropDownListFor(model => model.Status, new SelectList(new Dictionary<bool, string> { {false, "Inactive" }, {true, "Active"} }, "Key", "Value"), "Select status", new { @class = "form-control", @required="required" })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })

            <div class="user-add-btns mt-3 d-flex justify-content-between">
                <div></div>
                <div>
                    <button id="user-add-cancel-btn" type="reset">Cancel</button>
                    <button id="user-add-save-btn" type="submit">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>





<script>
    $("#user-add-cancel-btn").on("click", function(e){
        window.location.href = "/Admin/MissionSkill";
    })
    $(document).ready(function () {
        // Color Change - Sidebar
        $(".cms-sidebar ul li").on("mouseenter", function () {
            $(this).find("i").css("color", "#F88634");
            $(this).find("span").css("color", "#F88634");
        });
        $(".cms-sidebar ul li").on("mouseleave", function () {
            if (!$(this).hasClass("active")) {
                $(this).find("i").css("color", "#fff");
                $(this).find("span").css("color", "#fff");
            }
        });
        $(".cms-sidebar ul li").on("click", function () {
            $(".cms-sidebar ul li").removeClass("active");
            $(".cms-sidebar ul li i").css("color", "#fff");
            $(".cms-sidebar ul li span").css("color", "#fff");
            $(this).addClass("active");
            $(this).find("i").css("color", "#F88634");
            $(this).find("span").css("color", "#F88634");
        });

        // Hide & Show Sidebar
        $("#sidebar-open").hide();
        $("#sidebar-close").hide();

        $(window).resize(function () {
            if ($(window).width() < 960) {
                $(".cms-sidebar").hide();
                $("#sidebar-open").show();
                $("#sidebar-close").hide();
            } else {
                $(".cms-sidebar").show();
                $("#sidebar-open").hide();
            }
        });
    });

    // Open & Close Button - Sidebar
    $("#sidebar-open").on("click", function (e) {
        $(".cms-sidebar").show();
        $("#sidebar-open").hide();
        $("#sidebar-close").show();
    });

    $("#sidebar-close").on("click", function (e) {
        $(".cms-sidebar").hide();
        $("#sidebar-close").hide();
        $("#sidebar-open").show();
    });
</script>
