
<header>
    <nav class="admin-navbar">
        <div class="admin-nav-left">
            <i id="sidebar-open" class="bi bi-list"></i>
            <span id="current-time" class="d-flex align-items-center">@DateTime.Now.ToString("dddd, MMMM dd, yyyy h:mm tt")</span>
        </div>
        <div class="admin-nav-right">
            <img src="/images/user1.png" alt="" />
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" style="color: #333333">
                        Jenil Vora
                    </a>
                    <ul class="dropdown-menu">
                        <li onclick="return location.href=' @Url.Action("EditProfile","Profile") '"><a class="dropdown-item" href="#">Edit Profile</a></li>
                        <li onclick="return location.href=' @Url.Action("VolunteeringTimesheet","Profile") '"><a class="dropdown-item" href="#">Volunteering Timesheet</a></li>
                        <li onclick="return location.href=' @Url.Action("MissionListing","Mission") '"><a class="dropdown-item" href="#">Home Page</a></li>
                        <li id="logout"><a class="dropdown-item" href="/User/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<script>
    function updateTime() {
        var now = new Date();
        var formattedDate = now.toLocaleString('en-US', { weekday: 'long', month: 'long', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true });
        document.getElementById('current-time').innerHTML = formattedDate;
    }
    updateTime();
    setInterval(updateTime, 1000);
</script>