@model   demo.Models.ViewModels.LoginModel
@{
    ViewData["Title"] = "Login Page";
}

    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
             @*@Html.Partial("_AccountCarousel") *@
             
            <div id="logincontent" class="col-md-4 col-sm-12 logincontent">

                <form asp-controller="User" asp-action="Login" >
                    <label for="loginemail">Email Address</label>
                    <input asp-for="email" type="email"  id="loginemail" placeholder="shichan@nohara.com">
                    <span asp-validation-for="email" class="text-danger"></span>

                    <label for="loginpassword">Password</label>
                    <input asp-for="password" type="password"  id="loginpass" placeholder="**********">
                    <span asp-validation-for="password" class="text-danger"></span>

                    <input type="submit" value="Login">
                    <a asp-action="ForgotPassword">Lost your password?</a>
                    <p>Don’t have an account?<a asp-action="Register"> Create an account</a></p>
                </form>
                <div id="loginpolicy">
                    <p>Privacy Policy</p>
                </div>
            </div>
        </div>
    </div>